.theme-default-content.content__default
  width 1232px
  min-width 1232px
  max-width 1232px
  background-color #f2f2f2

.shopee-row
  margin-bottom: 16px
  background: #f2f2f2
  .shopee-col
    &:first-child
      padding-left: 0 !important
    &:last-child
      padding-right: 0 !important
.shopee-col>div
  display: table
  width: 100%
  background: rgba(238, 77, 45, 0.14)

.table-of-contents
  position fixed
  top 20px
  right 20px
  width 228px
  padding-left 4px
  margin-left -4px
  z-index 2
  background-color #fff
  ul 
    list-style none